{% extends "layout.twig" %}

{% set mainContainerAnimated = true %}

{% block mainContainerContent %}

    <div class="card">
        <div class="card-header">
            Сообщения <a href="{{ url(item_add_route) }}" class="btn btn-success btn-sm" role="button">Добавить</a>
        </div>
        <div class="card-block">
            <table class="table table-responsive table-hover table-outline mb-0">
                <thead class="thead-default">
                <tr>
                    <th>to</th>
                    <th>from / replay</th>
                    <th>theme</th>
                    <th>type</th>
                    <th>status</th>
                    <th>actions</th>
                    <th>view</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{ item.to }}
                        </td>
                        <td>
                            {{ item.from }} / {{ item.replayTo }}
                        </td>

                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {% if item.transport.int == constant("Akademiano\\HeraldMessages\\Model\\TransportType::EMAIL") %}
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-question" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status.int == constant("Akademiano\\HeraldMessages\\Model\\Status::STATUS_NEW") %}
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                            {% elseif item.status.int == constant("Akademiano\\HeraldMessages\\Model\\Status::STATUS_DONE") %}
                                <i class="fa fa-check-square-o"></i>
                            {% elseif item.status.int == constant("Akademiano\\HeraldMessages\\Model\\Status::STATUS_DO") %}
                                <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                            {% elseif item.status.int == constant("Akademiano\\HeraldMessages\\Model\\Status::STATUS_ERROR") %}
                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-question" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{{ url(item_change_route, {"id": item.id.hex}) }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="{{ item.id.hex }}">
                                <input type="hidden" name="X-HTTP_REAL_METHOD" value="delete">
                                <button class="btn btn-outline-danger btn-simple btn-sm" type="submit"> <i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                        <td>
                            <a href="{{ url(item_view_route, {"id": item.id.hex}) }}" rel="tooltip" title="View"
                               class="btn btn-outline-success btn-simple btn-sm">
                                <i class="fa fa-folder-open "></i>
                                View
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% include "utils/pagination.twig" %}
        </div>
    </div>
{% endblock mainContainerContent %}