{% extends "layout.twig" %}

{% block mainContainerContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="card {{ not item.open ? "card-success" }}">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-1">{{ item.owner.title }}</div>
                        <div class="col-md-1 offset-md-9">{{ item.date|date("d.m.Y") }}</div>
                    </div>
                </div>
                <div class="card-block">
                    <h3 class="card-title">{{ item.title }}</h3>
                    <div class="card-text">{{ include(template_from_string(item.content)) }}</div>
                </div>
                <div class="card-footer">
                    {% block taskFiles %}
                        {% include "Akademiano/Content/Articles/files-list.twig" %}
                    {% endblock taskFiles %}
                </div>
            </div>
        </div>
    </div>

{% endblock mainContainerContent %}
