{% extends "layoutAdmin.twig" %}
{% block head %}
    <script>
        function previewImage(name, dataUri) {
            name = name.replace(".", "_");
            var div = $(document.createElement("div"));
            var img = $(document.createElement("img"));
            img.attr("src", dataUri);
            img.width(150);
            img.height(100);
            img.css("margin", "3px");

            var title = $(document.createElement("input"));
            title.attr("type", "text");
            title.attr("name", "filesTitle["+name+"]");

            var description = $(document.createElement("textarea"));
            description.attr("name", "filesDescription["+name+"]");

            img.appendTo(div);
            title.appendTo(div);
            description.appendTo(div);
            div.appendTo("#preview");
        };

        $(document).ready(function () {
            function displayUnicodeKeyValue(e){
                var unicode = e.keyCode ? e.keyCode : e.charCode;
                alert(unicode);
                if(unicode === 112) {
                    alert("F11");
                }
            };
            $(document).on('change', '#files', function () {
                var preview = $("#preview");
                preview.html('');
                var files = $("#files")[0].files;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        var dataUri = event.target.result;
                        previewImage(file.name, dataUri);
                    };
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
{% endblock head %}

{% block content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="/admin/articles/save">
        <fieldset>

            <!-- Form Name -->
            <legend>{{ action }} Article {% if item.id %} #{{ item.id }} {% endif %}</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="title">Title</label>
                {% if item.id %}
                    <input name="id" type="hidden" value="{{ item.id }}"/>
                {% endif %}

                <div class="col-md-4">
                    <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md" required="" value="{{ item.title }}">

                </div>
            </div>

            <!-- Select Multiple -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="categories">Categories</label>

                <div class="col-md-4">
                    <select id="categories" name="categories[]" class="form-control" multiple="multiple">
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.active %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="description" name="description">{{ item.description }}</textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="text">Text</label>

                <div class="col-md-4">
                    <textarea class="form-control" id="text" name="text">{{ item.text }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <p>Remove Images:</p>
                    <ul>
                        {% for image in item.images %}
                            <li>
                                <img src="{{ image.uri("thumb") }}" alt=""/>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="filesRm[]" value="{{ image.id }}">
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="files">New Images</label>
                <div class="row">
                    <div class="col-md-4" id="preview"></div>
                </div>
                <div class="col-md-4">
                    <input id="files" name="files[]" class="input-file" type="file" multiple  accept="image">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <a href="/admin/news" class="btn btn-warning"><span class="glyphicon glyphicon-backward"></span> Back</a>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Save</button>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}