{% extends "layoutAdmin.twig" %}

{% block head %}
    {{ parent() }}
    {{ asset_js(["ckeditor/ckeditor.js"], default, true) }}

    <style>
        .spoiler-block {
            display: none;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.spoiler-btn', function () {
                $(".spoiler-block").toggle();
            })
        });
    </script>
{% endblock head %}


{% block content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="/admin/articles/save">
        <fieldset>

            <!-- Form Name -->
            <legend>{{ item ? "Edit" : "Add" }} Article {{ item.id ? "#" }}{{ item.id|dechex }}</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="title">Title</label>
                {% if item.id %}
                    <input name="id" type="hidden" value="{{ item.id|dechex }}"/>
                {% endif %}

                <div class="col-md-8">
                    <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md"
                           required="" value="{{ item.title }}">

                </div>
            </div>

            <!-- Select Multiple -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="tags">Tags</label>

                <div class="col-md-8">
                    <select id="tags" name="tags[]" class="form-control" multiple="multiple">
                        {% for tag in tags %}
                            <option value="{{ tag.id }}"
                                    {% if tag.select %}selected{% endif %}>{{ tag.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>

                <div class="col-md-8">
                    <textarea class="form-control" id="description" name="description">{{ item.description }}</textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-5 control-label" for="content">Text</label>

                <div class="col-md-12">
                    <textarea class="form-control ckeditor" id="content" name="content" rows="10">{{ item.content|raw }}</textarea>
                </div>
            </div>

            {#dates#}
            <div class="form-group">
                <div class="col-md-2 col-md-offset-10">
                    <a href="javascript:void(0)" class="btn btn-info spoiler-btn">Настройки даты <span class="spoiler-icon glyphicon glyphicon-chevron-down"></span></a>
                </div>
            </div>
            <div class="spoiler-block">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-7 control-label" for="created">Создано</label>
                    <div class="col-md-3">
                        <input id="created" name="created" type="datetime" class="form-control" value="{{ item.created|date("Y-m-d H:i") }}">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-7 control-label" for="changed">Изменено</label>
                    <div class="col-md-3">
                        <input id="changed" name="changed" type="datetime" class="form-control" placeholder="{{ "now"|date("Y-m-d H:i") }}">

                    </div>
                </div>
            </div>
            {#end dates#}


            {% include "attachImagesFields.twig" %}

            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <a href="/admin/articles" class="btn btn-warning"><span class="glyphicon glyphicon-backward"></span>
                        Back</a>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}