{% extends "layoutAdmin.twig" %}
{% block head %}
    {{ parent() }}
   {%  include "colorbox.twig" %}
{% endblock head %}

{% block content %}
    <h1>Статьи {% if currentCategory %}in "{{ currentCategory.name }}" {% endif %} ({{ countItems }})</h1>
    <div>
        {% for item in items %}
            <div>
                <h2>{{ item.title }} <sup>{{ item.id }}</sup></h2>
                <ul class="nav nav-pills">
                    {% for category in item.categories %}
                        <li><a href="/admin/articles/category/{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                <hr class=""/>
                <p>{{ item.text|striptags|raw|cutStr(500) }}...</p>

                <div class="photos">
                    {% for image in item.images %}
                        <a class='images photo-thumb' href="{{ image.uri("origin") }}" title="{{ image.name }} - {{ image.description }}">
                            <img src="{{ image.uri("thumb") }}" title="{{ image.name }}" alt="{{ image.description }}"/>
                        </a>
                    {% endfor %}
                </div>
                <a href="/admin/articles/edit/{{ item.id }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="/admin/articles/rm/{{ item.id }}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <br/>
        {% endfor %}

        {#paginator#}
        <div>
            {% if not currentCategory %}
                <ul class="pagination">
                    {% if showFirstPage %}
                        <li><a href="/admin/articles">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        <li class="{% if page.active %}active{% endif %}"><a href="/admin/articles?p={{ page.id }}">{{ page.id }}</a></li>
                    {% endfor %}
                    {% if showLastPage %}
                        <li><a href="/admin/articles?p={{ countPages }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}

            {% if currentCategory %}
                <ul class="pagination">
                    {% if showFirstPage %}
                        <li><a href="/admin/articles/category/{{ currentCategory.id }}">&laquo;</a></li>
                    {% endif %}
                    {% for page in pages %}
                        <li class="{% if page.active %}active{% endif %}"><a href="/admin/items/category/{{ currentCategory.id }}?p={{ page.id }}">{{ page.id }}</a></li>
                    {% endfor %}
                    {% if showLastPage %}
                        <li><a href="/admin/articles/category/{{ currentCategory.id }}?p={{ countPages }}">&raquo;</a></li>
                    {% endif %}
                    <li class="disabled"><a href="#">&nbsp;</a></li>
                    <li>
                        <a href="/admin/articles/"><span class="glyphicon glyphicon-list"></span> Show All</a>
                    </li>
                </ul>
            {% endif %}
        </div>

    </div>
    <a href="/admin/articles/add" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-file"></span> Add New</a>
{% endblock %}

