{% extends "layout.twig" %}

{% block head %}
    <link rel="stylesheet" href="static/lib/jquery-ui/themes/ui-lightness/jquery-ui.min.css">
    <script type='text/javascript' src="static/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type='text/javascript' src="static/lib/jquery-ui/ui/minified/i18n/jquery.ui.datepicker-ru.min.js"></script>
    <script type="text/javascript" src="static/js/calendar.js"></script>
    <link rel="stylesheet" href="static/css/place.css">
{% endblock head %}

{% block navbar %}
    <li><a class="nav" href="/">Главная</a></li>
    <li><a href="/places">Каталог</a></li>
    <li class="active"><a href="/articles">Статьи</a></li>
    <li><a href="/photos">Фото</a></li>
{% endblock navbar %}


{% block aside %}
    <section>
        <div class="calendar"></div>
    </section>
{% endblock aside %}

{% block article %}
    vsvvfa
    {% for item in items %}
        <section>
            <h2 class="article-title"><a href="/articles/id{{ "%09s"|format(item.id) }}">{{ item.title }}</a></h2>

            <div class="article-labels">
                <span class="label label-warning">{{ item.created|date("d.m.Y") }}</span>
                <div class="pull-right">
                    {% for category in item.categories %}
                        <span class="label label-success"><a href="/articles/category/{{ category.id }}">{{ category.name }}</a></span>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="article">
                {% if item.titleImage %}
                    <div class="article-thumb thumbnail">
                        <a class="photo-thumb" href="{{ item.titleImage.uri("origin") }}">
                            <img src="{{ item.titleImage.uri("medium") }}"/>
                        </a>
                    </div>
                {% endif %}
                <p>{{ item.description }}</p>
            </div>
            <div class="clearfix"></div>
            <a class="btn btn-sm btn-default pull-right" href="/articles/id{{ "%09s"|format(item.id) }}">Читать дальше</a>
            <div class="clearfix"></div>
            <hr/>
        </section>
    {% endfor %}
{% endblock article %}