{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
    {% include "colorbox.twig" %}
    <script type="text/javascript" src="static/js/calendar.js"></script>
{% endblock head %}

{% block aside %}
    {% if item.description %}
        <section class="panel panel-default">
            <div class="panel-heading">
                Кратко
            </div>
            <div class="panel-body">
                <p>
                    {{ item.description }}
                </p>
            </div>
        </section>
    {% endif %}
    <section>
        <div class="calendar"></div>
    </section>
{% endblock aside %}

{% block article %}
    <div class="page-header">
        <h1>{{ item.title }}</h1>
    </div>
    <div class="article-labels">
        <span class="label label-warning">{{ item.date|date("d.m.Y") }}</span>

        <div class="pull-right">
            {% for category in item.categories %}
                <span class="label label-success"><a href="/articles/category/{{ category.id }}">{{ category.name }}</a></span>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>

    <div>
        {% if item.titleImage %}
            <div class="article-thumb thumbnail">
                <a class="photo-thumb" href="{{ item.titleImage.uri("origin") }}">
                    <img src="{{ item.titleImage.uri("thumb") }}"/>
                </a>
            </div>
        {% endif %}
        <div class="article-text">
            {{ item.text|raw }}
        </div>
        {% if item.images %}
            <div class="article-photos">
                <h3>Фотографии к статье</h3>

                <div class="list">
                    {% for image in item.otherImages %}
                        <div class="thumbnail">
                            <a class="photo-thumb" href="{{ image.uri("origin") }}">
                                <img src="{{ image.uri("medium") }}"/>
                            </a>
                            {#<div class="caption">
                            </div>#}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        {% endif %}
    </div>
    <hr/>
    <section class="comments">
        <div id="vk_comments"></div>
    </section>
{% endblock article %}