{% extends "adminLayout.twig" %}

{% block mainContainerContentArticle %}
    <div class="row">
        <div class="col-12 col-lx-9">
            <div class="card  card-accent-{{ item ? "warning" : "success" }}">
                <div class="card-header">
                    {{ item ? "Редактирование" : "Добавление" }} {{ _module }}  {{ item ? "№ #{item.id.hex}" }}
                </div>
                <div class="card-body">
                    <form action="{{ url(item_save_route) }}" method="POST" enctype="multipart/form-data">
                        {% if item.id %}
                            <input name="id" type="hidden" value="{{ item.id|dechex }}"/>
                        {% endif %}

                        <div class="card-block">
                            <div class="form-group">
                                <label for="json_data_raw">Поля в json</label>
                                <textarea class="form-control " id="json_data_raw" name="json_data_raw" rows="15">{{ item | default(fields) | json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES'))  |raw }}</textarea>
                            </div>
                            {% if item %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-sm table-responsive table-active">
                                            <thead>
                                                <tr>
                                                    <th>Создано</th>
                                                    <th>Изменено</th>
                                                    <th>Создатель</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ item.created | date ("d.m.Y") }}</td>
                                                    <td>{{ item.changed| date ("d.m.Y") }}</td>
                                                    <td>{{ item.owner.title }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <a href="{{ url(items_list_route) }}" role="button" class="btn btn-outline-primary">Отмена</a>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock mainContainerContentArticle %}


