{% extends "Visa/Tasks/layout.twig" %}

{% block mainContainerContent %}
    <div class="row">
        <div class="col-md-8 offset-1">
            <div class="card">
                <form action="{{ url(item_save_route) }}" method="POST" enctype="multipart/form-data">
                    {% if item.id %}
                        <input name="id" type="hidden" value="{{ item.id|dechex }}"/>
                    {% endif %}
                    <div class="card-header card-header-{{ item ? "primary" : "success" }}">
                        {{ item ? "Редактирование" : "Добавление" }} пользователи {{ item ? "№ #{item.id.hex}" }}
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label class="form-control-label" for="title">Логин</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}">
                        </div>
                        <div class="form-group">
                            <label for="category">Группа</label>
                            <select class="form-control" id="group" name="group" required>
                                {% if not item.id %}
                                    <option disabled selected value style="display: none"> -- select an option --</option>
                                {% endif %}
                                {% for group in groups %}
                                    <option value="{{ group.id }}" {{ group.id == item.group.id ?  selected}}>{{ group.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="content">Комментарий</label>
                            <textarea class="form-control" id="content" name="content" rows="5">{{ item.content |raw }}</textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="email">email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ item.email }}" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="password">пароль</label>
                            <input type="password" class="form-control" id="password" name="newPassword" {{ item.id ?: "required" }}>
                        </div>

                        <div class="form-group">
                            <a href="{{ url(items_list_route) }}" role="button" class="btn btn-outline-primary">Отмена</a>
                            &nbsp;
                            &nbsp;
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock mainContainerContent %}
