{% extends "adminLayout.twig" %}

{% block mainContainerContent %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Пользователи
                    <span class="badge badge-pill badge-danger float-right">{{ items.count }}</span>
                </div>
                <div class="card-body">
                    <table class="table" style="word-break: break-all;">
                        <thead class="thead-light">
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>email</th>
                            <th>created</th>
                            <th>group</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    {{ item.id.hex }}
                                </td>
                                <td>
                                    {{ item.title }}
                                </td>
                                <td>
                                    {{ item.email }}
                                </td>
                                <td>
                                    {{ item.created |date("d.m.Y") }}
                                </td>
                                <td>
                                    {{ item.group.title ?: item.group.id.hex }}
                                </td>
                                <td>
                                    <a href="{{ url(item_edit_route, {"id": item.id.hex}) }}" rel="tooltip" title="Edit"
                                       class="btn btn-warning btn-simple btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="{{ url(item_delete_route, {"id": item.id.hex}) }}" rel="tooltip" title="Delete"
                                       class="btn btn-danger btn-simple btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ url(item_add_route) }}" class="btn btn-success btn-lg" role="button"><i class="fa fa-plus"></i> <span>Добавить пользователя</span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock mainContainerContent %}
