{% extends "Akademiano/UserEO/adminLayout.twig" %}

{% set mainContainerAnimated = true %}

{% block mainContainerContent %}

    <div class="card">
        <div class="card-header">
            Пользователи <a href="{{ url(item_add_route) }}" class="btn btn-success btn-sm" role="button">Добавить</a>
        </div>
        <div class="card-block">
            <table class="table table-responsive table-hover table-outline mb-0">
                <thead class="thead-default">
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>email</th>
                    <th>created</th>
                    <th>group</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{ item.id.hex }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.email }}
                        </td>
                        <td>
                            {{ item.created |date("d.m.Y") }}
                        </td>
                        <td>
                            {{ item.group.title ?: item.group.id.hex }}
                        </td>
                        <td>
                            <a href="{{ url(item_edit_route, {"id": item.id.hex}) }}" rel="tooltip" title="Edit Task" class="btn btn-warning btn-simple btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{ url(item_delete_route, {"id": item.id.hex}) }}" rel="tooltip" title="Delete" class="btn btn-danger btn-simple btn-sm">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock mainContainerContent %}
