{% extends "adminLayout.twig" %}

{% block css %}
    {{ asset_css([
    "assets/css/tasks.css"
    ], default, true) }}
{% endblock css %}

{% block js %}
    {{ asset_js([
    "assets/js/Tasks/tasks.js"
    ], default, true) }}
{% endblock js %}


{% block mainContainerContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="card {{ not item.open ? "card-success" }}">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-1">{{ item.owner.email }}</div>
                        <div class="col-md-1 offset-md-9">{{ item.date|date("d.m.Y") }}</div>
                    </div>
                </div>
                <div class="card-block">
                    <h3 class="card-title">{{ item.title }}</h3>
                    <div class="card-text">{{ item.content }}</div>
                </div>
            </div>
        </div>
    </div>

    {% for comment in item.comments %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-block">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-md-2" style="border-right: 1px solid grey">
                                    {{ comment.owner.email }}
                                </div>
                                <div class="col-md-10">
                                    {{ comment.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-6 offset-md-1">
            <div class="card">
                <div class="card-header">Добавить комментарий</div>
                <div class="card-block">
                    <form action="{{ url(item_comment_save_route, {"task": item.id.hex}) }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="task" value="{{ item.id }}">
                        <div class="form-group">
                            <label for="content_new_comment">Текст комментария</label>
                            <textarea class="form-control" id="content_new_comment" name="content" rows="3" {{ not item.open ? "required" }}></textarea>
                        </div>

                        <div class="form-group">
                            <div class="form-check {{ item.open ? "has-success" : "has-warning" }} tasks-view-set_status">
                                <label class="form-check-label">
                                    <input type="checkbox" name="taskStatus" class="form-check-input" value="{{ item.open ? "close" : "open" }}">
                                    {{ item.open ? "Закрыть задачу" : "Открыть задачу" }}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock mainContainerContent %}



